{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br>
<span align="left">Profile</span>
<h1>{{ user.first_name }}</h1>
{% if user.school == "0" %} 
<span>College of Engineering</span>
<br>
{% endif %}

{% if user.school == "1" %} 
<span>College of Arts & Sciences</span>
<br>
{% endif %}

{% if user.school == "2" %} 
<span>College of Agriculture & Life Sciences</span>
<br>
{% endif %}

{% if user.school == "3" %} 
<span>School of Hotel Administrationn</span>
<br>
{% endif %}

{% if user.school == "4" %} 
<span>College of Human Ecology</span>
<br>
{% endif %}

{% if user.school == "5" %} 
<span>SC Johnson College of Business</span>
<br>
{% endif %}

{% if user.school == "6" %} 
<span>College of Architecture, Art, and Planning</span>
<br>
{% endif %}

{% if user.school == "7" %} 
<span>School of Industrial and Labor Relations</span>
<br>
{% endif %}

{% if user.id == 1 %}
    <a href="/admin">Download Database</a>
    <br>
{% endif %}

<h3 align="center">Matches will be released by February 10th!</h3>
{% endblock %}

