{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <br>
  <h3 align="center" style="font-size:40px;color:red;">Join CornellMatchmaker</h3>
  <br>
  <center><img src="/static/cm_logo_1.png" width="240px" height="200px"/></center>
  <br>
  <div class="basic">
    <h5>Basic Questions:</h5>
    <br>
    <div class="form-group">
      <label for="school">Select Your School:</label>
      <select id="school" name="school">
        <option value="0">College of Engineering</option>
        <option value="1">College of Arts & Sciences</option>
        <option value="2">College of Agriculture & Life Sciences</option>
        <option value="3">School of Hotel Administration</option>
        <option value="4">College of Human Ecology</option>
        <option value="5">SC Johnson College of Business</option>
        <option value="6">College of Architecture, Art, and Planning</option>
        <option value="7">School of Industrial and Labor Relations</option>
    </select>
    </div>
    <div class="form-group">
      <label for="identity">I identify as:</label>
      <select id="identity" name="identity">
        <option value="0">Male</option>
        <option value="1">Female</option>
        <option value="2">Other</option>
    </select>
    </div>
    <div class="form-group">
      <label for="age">I am </label>
      <select id="age" name="age">
        <option value="0">18-20</option>
        <option value="1">21+</option>
    </select>
      <label>years old</label>
    </div>
    <div class="form-group">
      <label for="type">I am looking for a:</label>
      <select id="type" name="type">
        <option value="0">Relationship</option>
        <option value="1">Friendship</option>
    </select>
    </div>
    <div class="form-group">
      <label for="partner">I am interesting in finding a:</label>
      <select id="partner" name="partner">
        <option value="0">Male</option>
        <option value="1">Female</option>
        <option value="2">Other</option>
    </select>
    </div>
  </div>
  <br>
  <div class="personal">
    <h5>Personal Questions:</h5>
    <br>
    <div class="form-group">
      <label for="intro">I would describe myself as an:</label>
      <select id="intro" name="intro">
        <option value="0">Introvert</option>
        <option value="1">Extrovert</option>
    </select>
    </div>
    <div class="form-group">
      <label for="greek">I am interested in Greek life:</label>
      <select id="greek" name="greek">
        <option value="0">Yes</option>
        <option value="1">No</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="doors">I would rather be:</label>
      <select id="doors" name="doors">
        <option value="0">Outdoors</option>
        <option value="1">Indoors</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="read">I</label>
      <select id="read" name="read">
        <option value="0">enjoy</option>
        <option value="1">dislike</option>
        <option value="2">am neutral on</option>
    </select>
      <label> reading.</label>
    </div>
    <div class="form-group">
      <label for="sports">I</label>
      <select id="sports" name="sports">
        <option value="0">care</option>
        <option value="1">don't care</option>
    </select>
      <label> about sports.</label>
    </div>
    <div class="form-group">
      <label for="drink">I</label>
      <select id="drink" name="drink">
        <option value="0">do</option>
        <option value="1">don't</option>
    </select>
      <label> drink alcohol.</label>
    </div>
    <div class="form-group">
      <label for="smoke">I</label>
      <select id="smoke" name="smoke">
        <option value="0">do</option>
        <option value="1">don't</option>
    </select>
      <label> smoke.</label>
    </div>
    <div class="form-group">
      <label for="vegan">I</label>
      <select id="vegan" name="vegan">
        <option value="0">am</option>
        <option value="1">am not</option>
    </select>
      <label> vegan or vegetarian.</label>
    </div>
    <div class="form-group">
      <label for="study">On average, I study</label>
      <select id="study" name="study">
        <option value="0">more than</option>
        <option value="1">less than</option>
    </select>
      <label> five hours per week.</label>
    </div>
    <div class="form-group">
      <label for="fish">I enjoy fishing:</label>
      <select id="fish" name="fish">
        <option value="0">Yes</option>
        <option value="1">No</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="party">On a Friday night, I would rather:</label>
      <select id="party" name="party">
        <option value="0">Go Out</option>
        <option value="1">Stay In</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="god">Are you a religious person?</label>
      <select id="god" name="god">
        <option value="0">Yes</option>
        <option value="1">No</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="animal">Are you an animal lover?</label>
      <select id="animal" name="animal">
        <option value="0">Yes</option>
        <option value="1">No</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="country">I</label>
      <select id="country" name="country">
        <option value="0">love</option>
        <option value="1">hate</option>
    </select>
      <label> country music.</label>
    </div>
    <div class="form-group">
      <label for="music">Favorite genre of music:</label>
      <select id="music" name="music">
        <option value="0">Pop</option>
        <option value="1">Rock</option>
        <option value="2">Hip-Hop</option>
        <option value="3">Alternative</option>
        <option value="4">Other</option>
    </select>
    </div>
    <div class="form-group">
      <label for="pres">Favorite U.S. President:</label>
      <select id="pres" name="pres">
        <option value="0">Barack Obama</option>
        <option value="1">Donald Trump</option>
        <option value="2">Abraham Lincoln</option>
        <option value="3">George Washington</option>
        <option value="4">John F. Kennedy</option>
    </select>
    </div>
    <div class="form-group">
      <label for="cook">Do you like cooking?</label>
      <select id="cook" name="cook">
        <option value="0">Yes</option>
        <option value="1">No</option>
        <option value="2">Don't Care</option>
    </select>
    </div>
    <div class="form-group">
      <label for="time">Favorite Time Span:</label>
      <select id="time" name="time">
        <option value="0">2016-2021</option>
        <option value="1">2011-2015</option>
        <option value="2">2005-2010</option>
    </select>
    </div>
  </div>
  <br>
  <div class="acc">
    <h5>Account Setup:</h5>
    <br>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="firstName">NetID</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter NetID"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
  </div>
  
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
